/* ---------------GENERAL--------------- */
body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    padding: 10px 25px;
    margin: 0;
    position: absolute;
}

h2 {
    padding: 5px 10px;
    margin: 0;
}

h4 {
    margin: 16px;
}

.centered {
    text-align: center;
}

.underline {
    display: inline !important;
    border-bottom: 1px solid black;
}

.hidden {
    display: none;
}

#content-container {
    display: flex;
    box-sizing: border-box;
    padding-top: 58px;
    min-height: 100vh;
}

.button {
    display: inline-block;
    margin: 5px; 
    padding: 10px 13px;
    color: white;
    background-color: rgb(48, 48, 163);
    border: 1px solid navy;
    border-radius: 50%;
}

.done {
    opacity: 80%;
}

.ballot {
    display: inline-block !important;
    vertical-align: text-top;
    width: 18px;
    height: 18px;
    margin: 0px;
    border: 1px solid navy;
    font-size: 15px;
}

.done .completed-ballot { 
    text-decoration-line: none;
}

.done .completed-ballot::after { 
    content: '√';
    display: block;
    text-align: center;
    font-style: normal;
    font-size: 25px;
    top: -8px;
    position: relative;
    color: navy;
}

.done > div, .done > p {
    text-decoration-line: line-through;
}



/* ---------------FORMS--------------- */
#form-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(65, 65, 126, 0.979);
}

.form {
    background-color: white;
    width: 70%;
    height: 300px;
    margin: 10vh 15%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
}

#form-overlay .quicklist-form {
    height: auto;
    min-height: 250px ;
}

#form-overlay .regular-form {
    height: 400px;
}

.form > div {
    flex-basis: 100%;
    text-align: center;
    font-size: 18px;
}

.quicklist > div {
    margin: 12px 0;
}

.form > div > label {
    margin: 0 15px 0 5px;
}

.form > div > input[type='text'], .form > div > input[type='date'], .form > div > textarea, .form > div > select {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

textarea {
    vertical-align: super;
    width: 80%;
}

.form > div > #add-item {
    margin-left: 15px;
}

.form > div > button {
    background-color: rgb(48, 48, 163);
    border: 1px solid navy;
    color: white;
    font-size: 18px;
    padding: 8px 15px;
}

.form #quick-task-list {
    margin: 0 10% 0 15%;
    padding-left: 5%;
}

/* ---------------PROJECTS COLUMN--------------- */
#projects-container {
    box-sizing: border-box;
    padding: 25px 10px;
    flex-grow: 0;
    width: 320px;
    background-color: rgb(132, 173, 235);
}

#projects-container .project {
    box-sizing: border-box;
    margin: 10px 0;
    padding: 8px 0px;
}

#projects-container .selected {
    font-style: italic;
}


#projects-container .project > div {
    display: inline;
    margin: 3px 10px;
}

#projects-container .project .ballot {
    margin: 0;
}

#projects-container .project > button {
    background-color: rgb(48, 48, 163);
    border: 1px solid navy;
    color: white;
    font-size: 15px;
}

#projects-container .selected input {
    box-sizing: border-box;
    margin: 0px 10px;
}

/* ---------------TASKS COLUMN--------------- */
#todos-container {
    box-sizing: border-box;
    padding: 25px 10px;
    flex-grow: 1;
}

#task-container {
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0
}

.task {
    width: 23%;
    min-width: 200px;
    min-height: 50px;
    border: 1px solid black;
    box-sizing: border-box;
    margin: 10px 1%;
    padding: 5px 15px;
    background-color: rgb(247, 227, 115);
}

.priority-low {
    background-color: rgb(146, 210, 247);
}

.priority-normal {
    background-color: rgb(247, 227, 115);
}

.priority-high {
    background-color: rgb(206, 126, 126);
}

.task #list-container {
    margin: 10px 0;
}
.task #list-container > div {
    margin: 5px 0;
}

.task .ballot {
    border-color: black;
}

.task .ballot::after {
    color: black
}

.task #list-container p {
    display: inline-block;
    margin: 3px 10px;
}

.task p {
    display: block;
}

.task .task-action {
    min-width: 50px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(148, 147, 147, 0.5);
    margin: 10px 10px 10px 0;
    font-size: 20px;
}



@media (max-width: 1180px) and (min-width: 950px) {
    .task {
        width: 31%
    }
}

@media (max-width: 949px) {
    .task {
        width: 48%
    }
}